[[runners]]

[runners.docker]
  network_mode = "{{ docker_network }}"
  image = "{{ gitlab_runner_image }}"
  privileged = false
  volumes = [
    "/cache",
    "/var/run/docker.sock:/var/run/docker.sock"
  ]